<section class="container">
  <header>Que livro você procura?</header>
  <div class="busca">
    <input
      type="search"
      [formControl]="campoBusca"
    >
    <button>
      <img src="assets/imagens/icone-busca.png" alt="Lupa de cor roxa">
    </button>
  </div>
  <p>Busque por assunto, autoria, nome...</p>
  <div *ngIf="mensagemErro" class="resultados mensagem-erro">
    {{ mensagemErro }}
  </div>
  <div *ngIf="livrosResultado" class="resultados">
    {{ livrosResultado.totalItems }}
  </div>
<div class="container-card" *ngIf="(livrosEncontados$ | async) as listaLivros, else telaInicial">
  <div *ngFor="let livro of listaLivros">
    <app-livro [livro]="livro"></app-livro>
  </div>
</div>
<ng-template #telaInicial>
  <div class="imagens">
    <h1 class="titulo">Busque o livro <br> que quiser na <br> nossa estante!</h1>
    <img
      class="ilustracao"
      src="../../assets/imagens/ilustracao-estante.png"
      alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
  </div>
</ng-template>
