<div class="card">
  <img
    src="{{ livro.thumbnail != undefined ? livro.thumbnail : 'assets/imagens/capa-indisponivel.png'}}"
    alt="Capa do livro">
  <div class="info-card">
    <p class="titulo">{{ livro.title | slice:0:30 }}</p>
    <p class="informacoes">Autoria:</p>
    <p class="resultado">{{ livro.authors | autoria | slice:0:20 }}</p>
    <p class="informacoes">Data de publicação:</p>
    <p class="resultado">{{ livro.publishedDate | date: 'dd/MM/yyyy' }}</p>
    <p class="informacoes">Editora:</p>
    <p class="resultado">{{ livro.publiser | slice:0:20 }}</p>
    <button (click)="onModalChange(true)">Mais detalhes</button>
  </div>
</div>
<div *ngIf="modalAberto">
  <app-modal-livro [livro]="livro" (mudouModal)="onModalChange($event)"></app-modal-livro>
</div>

